---
import { Image } from "astro:assets";
import BaseLayout from "./BaseLayout.astro";
import ImageImport from "../components/ImageImport.astro"
import BackButton from "../components/BackButton.astro"
const { frontmatter } = Astro.props;
const tags = frontmatter.tags;

---

<BaseLayout pageTitle={frontmatter.title}>
  <section>
      <div class="title">
        <BackButton />
        <h2>Experience</h2>
    </div>
    <div class="article">
      <div class="experience-contents">
        <div class="icon-name">
          <div class="icon">
            <img src="/favicon.ico" alt="Favicon" />
          </div>
          <h2>{frontmatter.title}</h2>
        </div>
        <p>{frontmatter.description}</p>
        <ul class="tags">
          {
            tags.map((tag) => (
              <li class="tag">
                <a href={"/tags/" + tag}>#{tag}</a>
              </li>
            ))
          }
        </ul>
        <ImageImport url={frontmatter.image.url} alt={frontmatter.image.alt} />
        <p class="date">{frontmatter.pubDate}</p>

        <slot />

      </div>
    </div>
  </section>
</BaseLayout>

<style>
  .date {
    padding-bottom: 0.5rem;
    border-bottom: 0.05rem solid var(--border);
  }

  .icon-name {
    display: flex;
  }

  .icon-name img {
    margin-top: 0rem;
  }

  .icon {
    margin: 0rem 0.5rem 0rem 0rem;
  }

  .article {
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .experience-contents {
    margin: 0rem 0rem 1rem 0rem;
    display: block;
  }
</style>
