---
import BaseLayout from './BaseLayout.astro'
const { frontmatter } = Astro.props;
const tags = frontmatter.tags;
---
<BaseLayout pageTitle={frontmatter.title}>
    <a href="/">home</a>
    <h1>Experience</h1>
    <h2>{frontmatter.title}</h2>
    <div class="tags">
        {tags.map((tag) => (
          <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
      </div>
    <p>{frontmatter.date}</p>
    <p>{frontmatter.description}</p>
    <slot />
</BaseLayout>